In [1]:
import pandas as pd

train = pd.read_csv('./train_data.csv')
test = pd.read_csv('./test_data.csv')

In [2]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
test.head()

In [ ]:
train.shape   # 891개의 데이터, 12종류의 변수들

In [ ]:
test.shape  # 418개의 데이터, 11종류의 변수들(생존유무가 빠져있다. 이 test set 에 들어있는 사람들의 생존유무를 예측하는게 최종 목표)

In [ ]:
train.info()   # 자세히 보면 값이 없는 것들이 조금 있다.

In [ ]:
test.info()

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
def bar_chart (feature):
    survived = train.loc[train['Survived']==1, feature].value_counts()
    dead = train.loc[train['Survived']==0, feature].value_counts()
    df = pd.DataFrame([survived,dead], index=['Survived', 'Dead'])
    df.plot(kind='bar', figsize=(15,10))
    plt.show()

In [ ]:
# 자리 등급에 따른 생존/사망자 확인
bar_chart("Pclass")

In [ ]:
from IPython.display import Image
Image(url= "https://static1.squarespace.com/static/5006453fe4b09ef2252ba068/5095eabce4b06cb305058603/5095eabce4b02d37bef4c24c/1352002236895/100_anniversary_titanic_sinking_by_esai8mellows-d4xbme8.jpg")

In [ ]:
Image(url= "https://static1.squarespace.com/static/5006453fe4b09ef2252ba068/t/5090b249e4b047ba54dfd258/1351660113175/TItanic-Survival-Infographic.jpg?format=1500w")

In [ ]:
# 요금에 따른 생존/사망자 확인
facet = sns.FacetGrid(train, hue="Survived",aspect=4)
facet.map(sns.kdeplot,'Fare',shade= True)
facet.set(xlim=(0, train['Fare'].max()))
facet.add_legend()
plt.xlim(0,180)
plt.show()

In [ ]:
# 성별에 따른 생존/사망자 확인
bar_chart('Sex')

In [ ]:
# 나이에 따른 생존/사망자 확인
facet = sns.FacetGrid(train, hue="Survived",aspect=4)
facet.map(sns.kdeplot,'Age',shade= True)
facet.set(xlim=(0, train['Age'].max()))
facet.add_legend()
 
plt.show()

In [ ]:
# 이름 데이터 가공

# Mr    : 0
# Miss  : 1
# Mrs   : 2
# 그 외 : 3

train_test_data= [train, test] 
for dataset in train_test_data:
    dataset['Title'] = dataset['Name'].str.extract(' ([A-Za-z]+)\.', expand=False)

title_mapping = {"Mr": "Mr", "Miss": "Miss", "Mrs": "Mrs", 
                 "Master": "etc", "Dr": "etc", "Rev": "etc", "Col": "etc", "Major": "etc", "Mlle": "etc","Countess": "etc",
                 "Ms": "etc", "Lady": "etc", "Jonkheer": "etc", "Don": "etc", "Dona" : "etc", "Mme": "etc","Capt": "etc","Sir": "etc" }
for dataset in train_test_data:
    dataset['Title'] = dataset['Title'].map(title_mapping)
    
# 이름 열은 날려버리기
train.drop('Name', axis=1, inplace=True)
test.drop('Name', axis=1, inplace=True)

In [ ]:
# 이름(타이틀)에 따른 생존/사망자 확인
bar_chart('Title')

In [ ]:
# 동행한 가족의 수에 따른 생존/사망자 확인
train["FamilySize"] = train["SibSp"] + train["Parch"]
test["FamilySize"] = test["SibSp"] + test["Parch"]
train.drop('SibSp', axis=1, inplace=True)
test.drop('SibSp', axis=1, inplace=True)
train.drop('Parch', axis=1, inplace=True)
test.drop('Parch', axis=1, inplace=True)

bar_chart('FamilySize')

In [ ]:
# 선착장에 따른 생존/사망자 확인
bar_chart('Embarked')

In [ ]:
# 관련이 없는 Feature들은 삭제 (티켓 번호, 사물함 번호, 승객 ID)
train.drop('Ticket', axis=1, inplace=True)
test.drop('Ticket', axis=1, inplace=True)

train.drop('Cabin', axis=1, inplace=True)
test.drop('Cabin', axis=1, inplace=True)

test_PassengerId=test["PassengerId"]
train.drop('PassengerId', axis = 1, inplace=True)
test.drop('PassengerId', axis = 1, inplace=True)

In [ ]:
# "Age" 결측치 처리
# 그룹별로 평균내서, 결측치 채우기

train["Age"].fillna(train.groupby("Title")["Age"].transform("median"), inplace=True)
test["Age"].fillna(test.groupby("Title")["Age"].transform("median"), inplace=True)

In [ ]:
# "Fare" 결측치 처리
# 그룹별로 평균내서, 결측치 채우기

train["Fare"].fillna(train.groupby("Pclass")["Fare"].transform("median"), inplace=True)
test["Fare"].fillna(test.groupby("Pclass")["Fare"].transform("median"), inplace=True)

In [ ]:
# "Embarked" 결측치 처리

Pclass1 = train[train['Pclass']==1]['Embarked'].value_counts()
Pclass2 = train[train['Pclass']==2]['Embarked'].value_counts()
Pclass3 = train[train['Pclass']==3]['Embarked'].value_counts()
df = pd.DataFrame([Pclass1, Pclass2, Pclass3])
df.index = ['1st class','2nd class', '3rd class']
df.plot(kind='bar',stacked=True, figsize=(10,5))

In [ ]:
# "Embarked" 결측치 처리

# S선착장이 모두 50%이상이므로 NaN을 모두 S로 채움
for dataset in train_test_data:
    dataset['Embarked'] = dataset['Embarked'].fillna('S')

In [ ]:
# "Age" 구간화 (binning)
facet = sns.FacetGrid(train, hue="Survived",aspect=4)
facet.map(sns.kdeplot,'Age',shade= True)
facet.set(xlim=(0, train['Age'].max()))
facet.add_legend()
 
plt.show()

In [ ]:
test.info()

In [ ]:
# "Age" 구간화 (binning)
#청소년: 0
#청년  : 1
#장년  : 2
#중년  : 3
#노년  : 4
for dataset in train_test_data:
    dataset.loc[ dataset['Age'] <= 16, 'Age'] = 0
    dataset.loc[(dataset['Age'] > 16) & (dataset['Age'] <= 26), 'Age'] = 1
    dataset.loc[(dataset['Age'] > 26) & (dataset['Age'] <= 36), 'Age'] = 2
    dataset.loc[(dataset['Age'] > 36) & (dataset['Age'] <= 62), 'Age'] = 3
    dataset.loc[ dataset['Age'] > 62, 'Age'] = 4

In [ ]:
# "Fare" 구간화 (binning)
facet = sns.FacetGrid(train, hue="Survived",aspect=4)
facet.map(sns.kdeplot,'Fare',shade= True)
facet.set(xlim=(0, train['Fare'].max()))
facet.add_legend()
plt.xlim(0,180)
plt.show()

In [ ]:
# "Fare" 구간화 (binning)
# very low cost : 0
# low cost      : 1
# normal cost   : 2
# high cost     : 3
# very high cost: 4
for dataset in train_test_data:
    dataset.loc[ dataset['Fare'] <= 17, 'Fare'] = 0
    dataset.loc[(dataset['Fare'] > 17) & (dataset['Fare'] <= 30), 'Fare'] = 1
    dataset.loc[(dataset['Fare'] > 30) & (dataset['Fare'] <= 100), 'Fare'] = 2
    dataset.loc[ dataset['Fare'] > 100, 'Fare'] = 3

In [ ]:
# 성별을 숫자로 맵핑
sex_mapping = {"male": 0, "female": 1}
for dataset in train_test_data:
    dataset['Sex'] = dataset['Sex'].map(sex_mapping)

In [ ]:
# 선착장을 숫자로 맵핑
embarked_mapping = {"S": 0, "C": 1, "Q": 2}
for dataset in train_test_data:
    dataset['Embarked'] = dataset['Embarked'].map(embarked_mapping)

In [ ]:
# 이름을 숫자로 맵핑
title_mapping = {"Mr": 0, "Miss": 1, "Mrs": 2, "etc": 3}
for dataset in train_test_data:
    dataset['Title'] = dataset['Title'].map(title_mapping)

In [ ]:
train.head()

In [ ]:
test.head()

In [ ]:
train_data = train.drop('Survived', axis=1)
train_label = train['Survived']

In [ ]:
# 검증 시작! 어떤 알고리즘이 가장 성능이 좋은지 테스트 해보자.

from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn import svm
import numpy as np

from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

# K_fold cross validation 준비, 10 개 구역을 나눔.
k_fold = KFold(n_splits=10, shuffle=True, random_state=0)

In [ ]:
# KNN
clf = KNeighborsClassifier(n_neighbors = 5)
score_KNN = cross_val_score(clf, train_data, train_label, cv=k_fold, n_jobs=1, scoring='accuracy')

# 의사결정 나무
clf = DecisionTreeClassifier()
score_DT = cross_val_score(clf, train_data, train_label, cv=k_fold, n_jobs=1, scoring='accuracy')

# 랜덤 포레스트
clf = RandomForestClassifier(n_estimators=10)
score_RF = cross_val_score(clf, train_data, train_label, cv=k_fold, n_jobs=1, scoring='accuracy')

# SVM
clf = svm.SVC(gamma='auto')
score_SVC = cross_val_score(clf, train_data, train_label, cv=k_fold, n_jobs=1, scoring='accuracy')

In [ ]:
# 정확도 확인
print("KNN           :", round(np.mean(score_KNN)*100, 2))
print("의사결정 나무 :", round(np.mean(score_DT)*100, 2))
print("랜덤 포레스트 :", round(np.mean(score_RF)*100, 2))
print("SVM           :", round(np.mean(score_SVC)*100, 2))

In [ ]:
# 이제 진짜 test set에 있는 승객들의 생존자 예측!
clf = svm.SVC(gamma='auto')
clf.fit(train_data, train_label)

prediction = clf.predict(test)

In [ ]:
submission = pd.DataFrame({
        "PassengerId": test_PassengerId,
        "Survived": prediction
    })

submission.to_csv('submission.csv', index=False)

In [ ]:
submission = pd.read_csv('submission.csv')
submission.head()